CMakeCache.txt
CMakeFiles/*
*/CMakeFiles/*
cmake_install.cmake
Makefile
cadss-engine
cache/libcache.so
branch/libbranch.so
processor/libprocessor.so
trace/libtrace.so
coherence/libcoherence.so
interconnect/libinterconnect.so
memory/libmemory.so
simpleCache/libsimpleCache.so
branchCPP/libbranchCPP.so
build/
